<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: head"></head>

<style>

	
@media screen and (max-width: 990px) {
	
	#home-h1{
	font-size:30px;
	 font-weight: 900;
	 
	 
	}
	



</style>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.12.0/bootstrap-social.min.css">

<nav th:replace="layouts :: header"></nav>


<body class="home">
	

	
	
	<div id = "text-main" class="col-5 text-main"   >
	
	
	
	  <h1 id="home-h1">Create your Account</h1>
		
		<div class="container">
		<div class="login-container">
		<form action="/register" th:object="${userAccount}" method="POST">
		<div class="input-group input-group-lg">
		<label id="label-un">Username</label>
			<input id="credential_0" type="text" placeholder="Username" th:field="*{userName}" maxlength="50" size="50" >
			<ul class="text-danger" th:each="error: ${#fields.errors('userName')}"> 
			<li th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}" class="text-danger"></li> 
			</ul>
			</div>
			
			<div class="input-group input-group-lg">
		<label id="label-un">Email</label>
			<input id="credential_0" type="text" placeholder="Email" th:field="*{email}" maxlength="70" size="50" > 
			<ul class="text-danger" th:each="error: ${#fields.errors('email')}">
			<li  th:if="${#fields.hasErrors('email')}" th:errors="*{email}"   class="text-danger"></li>
			</ul>
			</div>
			
			
			<div class="input-group input-group-lg">
			<label id="label-ps">Password</label>
			<input id="credential_1" type="password" placeholder="Password" th:field="*{password}" maxlength="45" size="50"  autocomplete="off">
			<ul class="text-danger" th:each="error: ${#fields.errors('password')}">
             	<li th:each="message : ${error.split(',')}"><p class="error-message" th:text="${message}"></p></li>
         	</ul>
		</div>
			
			<input type="hidden" name="_csrf" th:value="${_csrf.token}">
			
			<div class="input-group input-group-lg">
			<label id="label-ps">Confirm Password</label>
			<input id="confirm-credential_1" type="password" placeholder="Confirm Password" th:field="*{confirmPassword}" maxlength="45" size="50"  autocomplete="off"><span id='pass-message'></span>
			
		</div>
		
		<div th:if="${successmessage}">
				<div class="alert alert-info" th:text="${successmessage}"></div>
            	</div>
		
		
		<div class="buttons mr-auto">
		
		
		<hr></hr>
		<button   class="gtm_signup btn btn-lg btn-primary btn-block" type="submit" id="controlPanelSignup" data-element-location="body" data-element-type="button" data-element-label="signup" data-qe-id="controlPanelSignup" data-gtm-vis-first-on-screen-380651_847="523" data-gtm-vis-total-visible-time-380651_847="100" data-gtm-vis-has-fired-380651_847="1">Submit</button>
		<div id="buttonreplacement" style=" display:none;"><img th:src="@{/images/preload.gif}" alt="loading..."></div>
		
		</div>
		</form>
		</div>
	    </div>
</div>
	
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>	
    <script src="https://cdn.rawgit.com/oauth-io/oauth-js/c5af4519/dist/oauth.js"></script>
    <script th:src="@{js/hamburger.js}"></script>
    <script th:src="@{js/google-button.js}"></script>
	<script th:src="@{js/check-password.js}"></script>
	<script th:src="@{js/loader.js}"></script>
</body>

</html>