<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: head"></head>

<style>

	
@media screen and (max-width: 990px) {
	
	#home-h1{
	font-size:30px;
	 font-weight: 900;
	 
	 
	}
	



</style>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.12.0/bootstrap-social.min.css">

<nav th:replace="layouts :: header"></nav>


<body class="home">
	
	
	
	
	<div id = "text-main" class="col-5 text-main"   >
	
	
	
	  <h1 id="home-h1">Forgot Password Link</h1>
		
		<div class="container">
		
		
		
		<div th:if="${successmessage}">
				<div class="alert alert-info" th:text="${successmessage}"></div>
            	</div>
		
			
	
	    </div>
</div>
	
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>	
    <script src="https://cdn.rawgit.com/oauth-io/oauth-js/c5af4519/dist/oauth.js"></script>
    <script th:src="@{js/hamburger.js}"></script>
    <script th:src="@{js/google-button.js}"></script>
	<script th:src="@{js/check-password.js}"></script>
</body>

</html>